#uno{
background-color: blueviolet;
height: 100vh;
}

#dos{
background-color: blue;
height: 100vh;
}

#tres{
background-color: tomato;
height: 100vh;
}

#cuatro{
    background-color: yellow;
    height: 100vh;
}